extends layout

block content
	h1 MYSTERY PAGE HOW DID YOU GET HERE UNLESS YOU'RE ERIC OR EVAN
	a(href="/newsEdit") News
	br
	a(href="#") Rabbits
	br
	a(href="#") Choppin Block
	br
	a(href="#") Carrots

