extends layout

block content
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")

	script(type="text/javascript" src="/javascripts/rabbitEdit.js")
	h1 RABBIT EDIT PAGE
	hr
	h3 Create a New Rabbit
	form(action="/rabbitsEdit", method="post")
		label Name:
		input(type="text" name="name")
		br
		br
		label Description/Adorable Details:
		br
		textarea(name="description")
		br
		label Age(write as text ex. 3 weeks):
		input(type="text" name="age")
		br
		br
		input(type="submit" id="submitButton" class="btn btn-lg" value=" Add Rabbit Info")
	br
	form(action="/rabbitsEdit/image", method="post", id="image-form")
		input(type="file", id="files", name="photo1" multiple)
		br
		button(type="submit" id="upload-images") submit images
	hr
	h3 Delete A Rabbit